{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Лендинг</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'static/lending/images/1.jpg' %}"/>

        <link type="text/css" href="{% static 'lending/css/bootstrap.min.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'lending/css/bootstrap-theme.min.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'lending/css/owl.carousel.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'lending/css/owl.theme.default.min.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'lending/css/magnific-popup.css' %}" rel="stylesheet">

        <link type="text/css" href="{% static 'lending/css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="{% url 'home' %}"><li>Главная</li></a>
                    <a href="#about"><li>О проекте</li></a>
                    <a href="#expertise"><li>Проблемы</li></a>
                    <a href="#workstation"><li>Результаты</li></a>
                    <a href="#team"><li>Моя команда</li></a>
                    <a href="#contact"><li>Полезные ссылочки</li></a>
                    <a href="{% url 'lending' %}"><li>Главная</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-vira">
                    <div class="container">
                        <div class="navigation-bar">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="logo">
                                        <a href="{% url 'lending' %}"><img src="{% static 'lending/images/dj.png' %}" alt="logo" class="logo-img"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <div class="menu m">
                                        <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Суровицкий Михаил 191-321</h1>
                                <p>Интернет-магазин электроники</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">О проекте</h2>
                            <p>
                                Весенний проект для дисциплины "Инженерное проектирование"
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="purpose section">
                <div class="container">
                    <h2 class="title">Использованные технологии</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-diamond" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Python</h3>
                                    <p>
                                        Универсальный современный ЯП высокого уровня, к преимуществам которого относят высокую производительность программных решений и структурированный, хорошо читаемый код.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-cogs" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>DJango</h3>
                                    <p>
                                        Это высокоуровневый Python веб-фреймворк, который позволяет быстро создавать безопасные и поддерживаемые веб-сайты.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <div class="card-icon">
                                        <span class="fa fa-calendar" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="vira-card-content">
                                    <h3>rest-framework</h3>
                                    <p>
                                        Это лёгкий фреймворк для Django, поддерживающий идеологию REST, репрезентативную передачу состояния.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="expertise" class="expert">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 bg-img">
                            <div></div>
                        </div>
                        <div class="col-sm-5 section">
                            <h2 class="title">Проблемы</h2>
                            <div id="expert-slider" class="owl-carousel">
                                <div class="item">
                                    <p>
                                        Нужен личный кабинет
                                    </p>
                                </div>
                                <div class="item">
                                    <p>
                                        Нужен интерфейс для БД
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="workstation" class="work section">
                <div class="container">
                    <h2 class="title">Результаты разработки</h2>
                    <div id="workstation-slider" class="owl-carousel">
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="{% static 'lending/images/api.png' %}">
                                </div>
                                <div class="vira-card-content">
                                    <h3>1</h3>
                                    <p>
                                        Реализовано API
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="{% static 'lending/images/models.png' %}">
                                </div>
                                <div class="vira-card-content">
                                    <h3>2</h3>
                                    <p>
                                        Есть 10 таблиц с нетесовыми данными
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="{% static 'lending/images/lending.png' %}">
                                </div>
                                <div class="vira-card-content">
                                    <h3>3</h3>
                                    <p>
                                        Лендинг проекта
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="{% static 'lending/images/lk.png' %}">
                                </div>
                                <div class="vira-card-content">
                                    <h3>4</h3>
                                    <p>
                                        Личный кабинет
                                    </p>
                                </div>
                            </div>
                        </div>
            </section>
            <section id="team" class="team section">
                <div class="container">
                    <h2 class="title">Моя команда</h2>
                    <div class="team-aboutme">
                        <div class="col-sm-8">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <img class="img-responsive" src="{% static 'lending/images/i.jpg' %}">
                                </div>
                                <div class="vira-card-content">
                                    <h3>Суровцкий Михаил</h3>
                                    <p>
                                        Привет, меня зовут Михаил и это мой проект для предмета "проектная деятельность". Надеюсь, вам понравилось
                                    </p>
                                    <div class="social-icons">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="contact section">
                <div class="container">
                    <h2 class="title">Полезные ссылки</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <i class="fab fa-github"></i>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Git</h3>
                                    <p>
                                        <a href="https://github.com/zakhep66/UP">Проект на GitHub</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <i class="fab fa-vk"></i>
                                </div>
                                <div class="vira-card-content">
                                    <h3>VKontakte</h3>
                                    <p>
                                        <a href="https://vk.com/coal124">Это я</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="vira-card">
                                <div class="vira-card-header">
                                    <i class="fab fa-google-drive"></i>
                                </div>
                                <div class="vira-card-content">
                                    <h3>Gmail</h3>
                                    <p>
                                        <a href="mailto:sur.mikhael@gmail.com">Gmail</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="social-icons">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Проект для Московского Политеха</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://kit.fontawesome.com/bae9ad7861.js" crossorigin="anonymous"></script>
        <script src="{% static 'lending/js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'lending/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'lending/js/owl.carousel.min.js' %}"></script>
        <script src="https://use.fontawesome.com/55b73bf748.js"></script>
        <script src="{% static 'lending/js/jquery.magnific-popup.js' %}"></script>
        <script src="{% static 'lending/js/script.js' %}"></script>
    </body>
</html>